geopandas
networkx
osmnx
altair
folium
branca
streamlit
streamlit_lottie
streamlit_option_menu
git+https://github.com/giswqs/leafmap
rasterio==1.2.10
--find-links=https://girder.github.io/large_image_wheels GDAL